.tag {
  display: inline-block;
  margin-right: 5px;
  border-radius: 20px;
  cursor: default;
}
.s {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--color-outline);
}

.red {
  color: var(--color-surface-light);
  background-color: #de0000;
  font-weight: bold;
}

.grey {
  color: var(--color-surface-light);
  background-color: #b3c0d9;
  font-weight: bold;
}

.green {
  color: var(--color-green);
  background-color: var(--color-green-light);
  font-weight: bold;
}

.primary {
  color: var(--color-primary);
  background: none;
  border: 1px solid var(--color-primary);
}
